*{
    margin: 0%;
}
html{
    font-size: 62.5%;
}
body{
    font-size: 16px;
    overflow-x: hidden;
}
body::-webkit-scrollbar {
    width: 8px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
    background: var(--gray-color);        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
    border-radius: 1rem;
background: rgba(120, 122, 120, 0.70);
}

html, body{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
#root {  
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: minmax(20px, 60px) 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "header header header header header header"
      "nav main main main main sidebar";
}
#header { grid-area: header; }

#nav { grid-area: nav; }

#sidebar { grid-area: sidebar; }

#main { grid-area: main; }
